<div class="login-page">
  <div class="form">
    <%= form_tag sessions_path, class: "login-form" do %>
      <%= text_field_tag :email, params[:email], placeholder: 'Email' %>
      <%= password_field_tag(:password, "", placeholder: "Password") %>
      <%= submit_tag "Log in", class: "form-button" %>
      <p class="message">Not registered? <%= link_to "Sign up", sign_up_path %></p>
    <% end %>
  </div>
</div>
