<div class="login-page">
  <div class="form">
    <% if @user.errors.any? %>
      <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% for message in @user.errors.full_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= form_for @user, class: "register-form" do |f| %>
      <%= f.text_field :email, placeholder: 'Email' %>
      <%= f.password_field(:password, placeholder: "Password") %>
      <%= f.password_field(:password_confirmation, placeholder: "Password confirmation") %>
      <%= f.submit "Log in", class: "form-button" %>
      <p class="message">Already registered? <%= link_to "Log in", log_in_path %></p>
    <% end %>
  </div>
</div>
